# Dependencies
/core/vendor/
/core/node_modules/

# Environment
/core/.env

# Cache & Logs
/core/storage/framework/cache/*
/core/storage/framework/sessions/*
/core/storage/framework/views/*
/core/storage/logs/*

# Bootstrap cache
/core/bootstrap/cache/*

# IDE
.idea/
.vscode/
*.swp

# OS
.DS_Store
Thumbs.db

# Installer lock
installed
